body {
    font-family: 'Titilliumweb', Helvetica, Arial, sans-serif;
    font-size: 1, 5em;
    background: #e7eaee;
}

.funcy-logo {
    font-family: sans-serif;
    font-size: 1.2em;
}

.nav-custom{
    background-color: #e7eaee;
}

 nav ul {
    font-weight: bold;
 }
    .center-title {
        text-align: center;
        top:90px;
        position: absolute;
        font-size: 3vw;
        width: 100%;

      }


.banner{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.banner-text {
    font-family: 'Titilliumweb', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
}

.where header {
    margin: 0;
}

.where iframe {
    border: 0;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

.card {
    height: 100%;
}